<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds"
	debug="false">
	<property name="encoding" value="UTF-8" scope="context" />
	<property name="CONTEXT_NAME" value="ratesvr" />
	<property name="logs.dir" value="/log/bis/ratesvr" />
	<property name="FAS_NAME" value="fas" />

	<property name="telegrampattern"
		value="%d{yyyy/MM/dd HH:mm:ss.SSS} L%X{LOCAL_ADDRESS}:%X{LOCAL_PORT}-R%X{SERVER_ADDRESS}:%X{SERVER_PORT} - %msg%n"
		scope="context" />
	<contextName>${CONTEXT_NAME}</contextName>

	<appender name="stdout"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd
				HH:mm:ss.SSS}|%level|%class|%thread|%method|%line|%msg%n
			</pattern>
			<charset>${encoding}</charset>
		</encoder>
	</appender>

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logs.dir}/ratesvr.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logs.dir}/archive/ratesvr-%d{yyyy-MM-dd}.%i.log.zip
			</fileNamePattern>
			<maxFileSize>30MB</maxFileSize>
			<maxHistory>7</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<charset>${encoding}</charset>
			<Pattern>
				%d{yyyy-MM-dd
				HH:mm:ss.SSS}|%level|%class|%thread|%method|%line|%msg%n
			</Pattern>
		</encoder>
	</appender>

	<appender name="FAS_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logs.dir}/fas.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logs.dir}/archive/${FAS_NAME}-%d{yyyy-MM-dd}.%i.log.zip
			</fileNamePattern>
			<maxFileSize>30MB</maxFileSize>
			<maxHistory>3</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>${telegrampattern}</pattern>
			<charset>${encoding}</charset>
		</encoder>
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</root>

	<logger name="ratesvr" level="DEBUG" additivity="true"></logger>
	<logger name="faslog" level="DEBUG" additivity="false">
		<appender-ref ref="FAS_LOG" />
	</logger>
</configuration>
